QWidget {
    border-radius: 0px;
}

QPushButton {
    background-color: #3d7534; /* Green */
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 2px 2px;
    border-radius: 14px;
}

QTextEdit {
    background-color: rgb(28, 28, 28);
    color: white;  /* Change the text color to white */
    font-size: 12px;
}